# Compiled Python source files
__pycache__/

# Instalation environment folder
environment/

# Temp ignore for dev environment activation
activate

# Temp ignore for test data
LongSpectrum.hdf5

# Ignore for VSCode debugging configuration
.vscode/launch.json
